<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nutstep.movie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCO0aaH6cNhB7-2PgJpxfgkbZIoenbJjzE"/>
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.MovieDetailActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.RandomActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity android:name=".activity.MapActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBvLkAHOEEKGCdlJB6UhGt13LxZsxR4EzQ" />

        <activity android:name=".activity.GeniusSearchActivity" />
        <activity android:name=".activity.TheaterFindActivity"></activity>
    </application>

</manifest>